[[source]]
url = "https://mirrors.ustc.edu.cn/pypi/web/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-httpauth = "*"
flask-wxapp = "*"
pymysql = "*"
flask-restful = "*"
gunicorn = "*"
gevent = "*"

[dev-packages]

[requires]
python_version = "3.6"
